# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
.env/
.venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Uvicorn/Starlette/FastAPI
*.db

# Test/coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Others
*.swp
*.swo 